body {
    /* background-color: #f8f9fa; */
    background-image: url('../images/background.jpg');
}

.modal-content {
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}
